@model dynamic

@{
    ViewBag.Title = "SignIn";
    Layout = "_Layout";
}
<h2>SignIn</h2>
<form asp-controller="Account" asp-action="Identify" method="post">
    <h4>Login or Username</h4>
    <input type="text" name="Email"/>
    <h4>Password</h4>
    <input type="password" name="Password"/>
    <input type="submit" value="Enter"/>
</form>
<form asp-controller="Account" asp-action="LoginGoogle" method="post">
    <input type="submit" value="Google" />
</form>
<a asp-controller="Account" asp-action="SignUp">SignUp</a>