@model dynamic

@{
    ViewBag.Title = "SignIn";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/signin.css" />

<div class="signin-container">
    <div class="signin-card">
        <h2 class="signin-title">Вход</h2>

        <form asp-controller="Account" asp-action="Identify" method="post" class="signin-form">
            <label for="Email">Введите почту или имя пользователя</label>
            <input type="text" name="Email" id="Email" required />

            <label for="Password">Пароль</label>
            <input type="password" name="Password" id="Password" required />

            <input type="submit" value="Вход" class="btn primary-btn" />
        </form>

        <div class="divider">или</div>

        <form asp-controller="Account" asp-action="LoginGoogle" method="post" class="signin-form">
            <input type="submit" value="Войти используя Google" class="btn google-btn" />
        </form>

        <div class="signup-link">
            <a asp-controller="Account" asp-action="SignUp">Нет аккаунта? Зарегистрироваться</a>
        </div>
    </div>
</div>