@model dynamic

@{
    ViewBag.Title = "SignIn";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/signin.css" />

<div class="signin-container">
    <div class="signin-card">
        <h2 class="signin-title">Sign In</h2>

        <form asp-controller="Account" asp-action="Identify" method="post" class="signin-form">
            <label for="Email">Email or Username</label>
            <input type="text" name="Email" id="Email" required />

            <label for="Password">Password</label>
            <input type="password" name="Password" id="Password" required />

            <input type="submit" value="Enter" class="btn primary-btn" />
        </form>

        <div class="divider">or</div>

        <form asp-controller="Account" asp-action="LoginGoogle" method="post" class="signin-form">
            <input type="submit" value="Sign in with Google" class="btn google-btn" />
        </form>

        <div class="signup-link">
            <a asp-controller="Account" asp-action="SignUp">Don't have an account? Sign Up</a>
        </div>
    </div>
</div>