@model dynamic

@{
    ViewBag.Title = "SignUp";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/signin.css" />

<div class="signin-container">
    <div class="signin-card">
        <h2 class="signin-title">Регистрация</h2>

        <form asp-controller="Account" asp-action="SignUp" method="post" class="signin-form">
            <label for="Username">Имя пользователя</label>
            <input type="text" name="Username" id="Username" required />

            <label for="Email">Почта</label>
            <input type="email" name="Email" id="Email" required />

            <label for="Password">Пароль</label>
            <input type="password" name="Password" id="Password" required />

            <input type="submit" value="Зарегистрироваться" class="btn primary-btn" />
        </form>

        <div class="signup-link mt-3">
            <a asp-controller="Account" asp-action="Login">Уже зарегестированы? Вход</a>
        </div>
    </div>
</div>