@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@model dynamic

@{
    ViewBag.Title = "Two-Factor Authentication";
    Layout = "_Layout";

    var loginModelJson = TempData["LoginModel"] as string;
    TempData.Keep("LoginModel");

    var isSignUp = TempData["IsSignUp"] as bool?;
    TempData.Keep("IsSignUp");

    var email = loginModelJson != null ? JsonConvert.DeserializeObject<LoginPasswordViewModel>(loginModelJson)?.Email : "";
    var password = loginModelJson != null ? JsonConvert.DeserializeObject<LoginPasswordViewModel>(loginModelJson)?.Password : "";
}

<link rel="stylesheet" href="~/css/signin.css" />

<div class="signin-container">
    <div class="signin-card">
        <h2 class="signin-title">Двухфакторная аутентификация</h2>

        <form asp-controller="Account" asp-action="LoginCookie" method="post" class="signin-form">
            <input type="hidden" name="Email" value="@email" />
            <input type="hidden" name="Password" value="@password" />
            <input type="hidden" name="isSignUp" value="@(isSignUp ?? false)" />

            <label for="code">Подтвердите код</label>
            <input type="number" name="code" id="code" required />

            <input type="submit" value="Подтвердить" class="btn primary-btn" />
        </form>
    </div>
</div>